@import "header.css";
/*Usado para não precisar colocar outro link no html*/

*{
 /*RESETAR O CSS*/
  margin: 0;
  padding:0;
  border:0;
  font-size:100%;
  font: inherit;
  vertical-align: baseline;
}

